<section class="pricing-table section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title">
                    <h2>We Provide You The Best Treatment In Resonable Price</h2>
                    <img src="{{ url_for('static', filename='img/section-img.png') }}" alt="#">
                    <p>Exceptional treatment at affordable rates: Experience the best care without breaking the bank.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <!-- Single Table -->
            <div class="col-lg-4 col-md-12 col-12">
                <div class="single-table">
                    <!-- Table Head -->
                    <div class="table-head">
                        <div class="icon">
                            <i class="icofont icofont-ui-cut"></i>
                        </div>
                        <h4 class="title">Plastic Surgery</h4>
                        <div class="price">
                            <p class="amount">$199<span>/ Per Visit</span></p>
                        </div>	
                    </div>
                    <!-- Table List -->
                    <ul class="table-list">
                        <li><i class="icofont icofont-ui-check"></i>Enhanced Confidence</li>
                        <li><i class="icofont icofont-ui-check"></i>Improved Quality of Life</li>
                        <li class="cross"><i class="icofont icofont-ui-close"></i>Potential Health Risks</li>
                        <li class="cross"><i class="icofont icofont-ui-close"></i>Extended Recovery Period</li>
                        <li class="cross"><i class="icofont icofont-ui-close"></i>PPossibility of Unsatisfactory Results</li>
                    </ul>
                    <div class="table-bottom">
                        <a class="btn" href="{{ url_for('appointment') }}">Get Appointment</a>
                    </div>
                    <!-- Table Bottom -->
                </div>
            </div>
            <!-- End Single Table-->
            <!-- Single Table -->
            <div class="col-lg-4 col-md-12 col-12">
                <div class="single-table">
                    <!-- Table Head -->
                    <div class="table-head">
                        <div class="icon">
                            <i class="icofont icofont-tooth"></i>
                        </div>
                        <h4 class="title">Teeth Whitening</h4>
                        <div class="price">
                            <p class="amount">$299<span>/ Per Visit</span></p>
                        </div>	
                    </div>
                    <!-- Table List -->
                    <ul class="table-list">
                        <li><i class="icofont icofont-ui-check"></i>Enhanced Aesthetics</li>
                        <li><i class="icofont icofont-ui-check"></i>Boost in Confidence</li>
                        <li><i class="icofont icofont-ui-check"></i>Non-Invasive Procedure</li>
                        <li class="cross"><i class="icofont icofont-ui-close"></i>Sensitivity</li>
                        <li class="cross"><i class="icofont icofont-ui-close"></i>Temporary Results</li>
                    </ul>
                    <div class="table-bottom">
                        <a class="btn" href="{{ url_for('appointment') }}">Get Appointment</a>
                    </div>
                    <!-- Table Bottom -->
                </div>
            </div>
            <!-- End Single Table-->
            <!-- Single Table -->
            <div class="col-lg-4 col-md-12 col-12">
                <div class="single-table">
                    <!-- Table Head -->
                    <div class="table-head">
                        <div class="icon">
                            <i class="icofont-heart-beat"></i>
                        </div>
                        <h4 class="title">Heart Suggery</h4>
                        <div class="price">
                            <p class="amount">$399<span>/ Per Visit</span></p>
                        </div>	
                    </div>
                    <!-- Table List -->
                    <ul class="table-list">
                        <li><i class="icofont icofont-ui-check"></i>Life-Saving Intervention</li>
                        <li><i class="icofont icofont-ui-check"></i>Improved Quality of Life</li>
                        <li><i class="icofont icofont-ui-check"></i>Increased Longevity</li>
                        <li><i class="icofont icofont-ui-check"></i>Enhanced Physical Activity</li>
                        <li><i class="icofont icofont-ui-check"></i>Technological Advancements</li>
                    </ul>
                    <div class="table-bottom">
                        <a class="btn" href="{{ url_for('appointment') }}">Get Appointment</a>
                    </div>
                    <!-- Table Bottom -->
                </div>
            </div>
            <!-- End Single Table-->
        </div>	
    </div>	
</section>	