<!doctype html>
<html class="no-js" lang="zxx">
    <head>
		{% include "_head_content.html" %}
    </head>

    <body>
		<!-- Preloader -->
        {% include "_preloader.html"%}
        <!-- End Preloader -->
		
		<!-- Get Pro Button -->
		{% include "_probutton.html"%}
	
		<!-- Header Area -->
		<header class="header">
            {% include "_topbar.html" %}
            {% include "_header_inner.html" %}
		</header>
		<!-- End Header Area -->
		
		<main>
			{%block content%}
            
			{%endblock%}
		</main>
		
		<!-- Footer Area -->
		<footer id="footer" class="footer ">
            {% include "_footer.html"%}
		</footer>
		<!--/ End Footer Area -->
		
		{% include "_scripts.html"%}
    </body>
</html>