{% extends 'base.html' %} {% block title %} Blogs {% endblock %} 

{% block content %}
    <head>
        {% include "parts/_head_content.html" %}	
    </head>
    <body>
	
		<!-- Preloader -->
        {%include "parts/_preloader.html"%}
        <!-- End Preloader -->
		
		<!-- Get Pro Button -->
		
	
		<!-- Header Area -->
		<header class="header" >
			
		</header>
		<!-- End Header Area -->
		
		<!-- Breadcrumbs -->
		<div class="breadcrumbs overlay">
			<div class="container">
				<div class="bread-inner">
					<div class="row">
						<div class="col-12">
							<h2>Blog Single</h2>
							<ul class="bread-list">
								<li><a href="{{ url_for('index') }}">Home</a></li>
								<li><i class="icofont-simple-right"></i></li>
								<li class="active">Blog Single</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- End Breadcrumbs -->
		
		<!-- Single News -->
		<section class="news-single section">
			<div class="container">
				<div class="row">
					<div class="col-lg-8 col-12">
						<div class="row">
							<div class="col-12">
								<div class="single-main">
									<!-- News Head -->
									<div class="news-head">
										<img src="{{ url_for('static', filename='img/blog1.jpg') }}" alt="#">
									</div>
									<!-- News Title -->
									<h1 class="news-title"><a href="{{url_for('blogs')}}">More than 80 clinical trials launch to test of the coronavirus .</a></h1>
									<!-- Meta -->
									<div class="meta">
										<div class="meta-left">
											<span class="author"><a href="#"><img src="{{ url_for('static', filename='img/author1.jpg') }}" alt="#">
												<span><a href="#">Naimur Rahman</a></span>												
											<span class="date"><i class="fa fa-clock-o"></i>03 Feb 2019</span>
										</div>
										<div class="meta-right">
											<span class="comments"><a href="#"><i class="fa fa-comments"></i>05 Comments</a></span>
											<span class="views"><i class="fa fa-eye"></i>33K Views</span>
										</div>
									</div>
									<!-- News Text -->
									<div class="news-text">
										<p>The ongoing global effort to combat the COVID-19 pandemic has led to the initiation of more than 80 clinical trials dedicated to testing and understanding the coronavirus. These trials encompass a wide range of research areas, including vaccine development, treatment strategies, and diagnostic methods.</p>
										<div class="image-gallery">
											<div class="row">
												<div class="col-lg-6 col-md-6 col-12">
													<div class="single-image">
														<img src="{{ url_for('static', filename='img/blog2.jpg') }}" alt="#">
													</div>
												</div>
												<div class="col-lg-6 col-md-6 col-12">
													<div class="single-image">
														<img src="{{ url_for('static', filename='img/blog3.jpg') }}" alt="#">
													</div>
												</div>
											</div>
										</div>
										<p>In the race against time, researchers and healthcare professionals around the world have come together to conduct these clinical trials, each contributing valuable insights to the collective understanding of the virus. The trials aim not only to find effective vaccines and treatments but also to enhance our knowledge of the virus's behavior, transmission dynamics, and potential long-term effects on individuals.</p>
										<blockquote class="overlay">
											<p>The collaboration between scientific communities, pharmaceutical companies, and healthcare institutions underscores the urgency and importance of finding solutions to the global health crisis. As these trials progress, the hope is that they will pave the way for breakthroughs that can mitigate the impact of the coronavirus and contribute to building a more resilient and prepared world for future health challenges. The commitment to scientific inquiry and innovation remains a beacon of hope in the midst of these challenging times.</p>					
										</blockquote>
									</div>
									<div class="blog-bottom">
										<!-- Social Share -->
										<ul class="social-share">
											<li class="facebook"><a href="https://www.facebook.com/" target="_blank"><i class="fa fa-facebook"></i><span>Facebook</span></a></li>
											<li class="twitter"><a href="https://twitter.com/" target="_blank"><i class="fa fa-twitter"></i><span>Twitter</span></a></li>
											<li class="google-plus"><a href="https://plus.google.com/" target="_blank"><i class="fa fa-google-plus"></i><span>Google Plus</span></a></li>
											<li class="linkedin"><a href="https://www.linkedin.com/" target="_blank"><i class="fa fa-linkedin"></i><span>LinkedIn</span></a></li>
											<li class="pinterest"><a href="https://www.pinterest.com/" target="_blank"><i class="fa fa-pinterest"></i><span>Pinterest</span></a></li>
										</ul>										
										<!-- Next Prev -->
										<ul class="prev-next">
											<li class="prev"><a href="#"><i class="fa fa-angle-double-left"></i></a></li>
											<li class="next"><a href="#"><i class="fa fa-angle-double-right"></i></a></li>
										</ul>
										<!--/ End Next Prev -->
									</div>
								</div>
							</div>
							<div class="col-12">
								<div class="blog-comments">
									<h2>All Comments</h2>
									<div class="comments-body">
										{% for comment in comments %}
										<!-- Single Comments -->
										<div class="single-comments">
											<div class="main">
												<div class="head">
													<img src="{{ url_for('static', filename='img/no-pp.png') }}" alt="#">
												</div>
												<div class="body">
													<h4>{{ comment.name }} {{ comment.surname }}</h4>
													<p>{{ comment.message }}</p>
												</div>
											</div>
										</div>
										<!--/ End Single Comments -->
										{% endfor %}
									</div>
								</div>
							</div>
							<div class="col-12">
								<div class="comments-form">
									<h2>Leave Comments</h2>
									<!-- Contact Form -->
									<form action="{{ url_for('add_comment') }}" method="post" class="form">
										<div class="row">
											<div class="col-lg-6">
												<div class="form-group">
													<input type="text" name="name" placeholder="Name" required="">
												</div>
											</div>
											<div class="col-lg-6">
												<div class="form-group">
													<input type="text" name="surname" placeholder="Surname" required="">
												</div>
											</div>
											<div class="col-lg-6">
												<div class="form-group">
													<input type="email" name="email" placeholder="E-Mail" required="required">
												</div>
											</div>
											<div class="col-lg-6">
												<div class="form-group">
													<textarea name="message" placeholder="Type your message here" required=""></textarea>
												</div>
											</div>
											<div class="col-12">
												<div class="form-group button">	
													<button type="submit" class="btn primary"><i class="fa fa-send"></i>Submit Comment</button>
												</div>
											</div>
										</div>
									</form>
									<!--/ End Contact Form -->
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-4 col-12">
						<div class="main-sidebar">
							<!-- Single Widget -->
							<div class="single-widget search">
								<div class="form">
									<input type="text" id="searchInput" placeholder="Search Here...">
									<a class="button" href="#" onclick="highlightSearch()"><i class="fa fa-search"></i></a>
								</div>
							</div>
							<!--/ End Single Widget -->
							<!-- Single Widget -->
							<div class="single-widget category">
								<h3 class="title">Blog Categories</h3>
								<ul class="categor-list">
									<li><a href="#">Men's Apparel</a></li>
									<li><a href="#">Women's Apparel</a></li>
									<li><a href="#">Bags Collection</a></li>
									<li><a href="#">Accessories</a></li>
									<li><a href="#">Sun Glasses</a></li>
								</ul>
							</div>
							<!--/ End Single Widget -->
							<!-- Single Widget -->
							<div class="single-widget recent-post">
								<h3 class="title">Recent post</h3>
								<!-- Single Post -->
								<div class="single-post">
									<div class="image">
										<img src="{{ url_for('static', filename='img/blog-sidebar1.jpg') }}" alt="#">
									</div>
									<div class="content">
										<h5><a href="#">We have annnocuced our new product.</a></h5>
										<ul class="comment">
											<li><i class="fa fa-calendar" aria-hidden="true"></i>Jan 11, 2020</li>
											<li><i class="fa fa-commenting-o" aria-hidden="true"></i>35</li>
										</ul>
									</div>
								</div>
								<!-- End Single Post -->
								<!-- Single Post -->
								<div class="single-post">
									<div class="image">
										<img src="{{ url_for('static', filename='img/blog-sidebar2.jpg') }}" alt="#">
									</div>
									<div class="content">
										<h5><a href="#">Top five way for solving teeth problems.</a></h5>
										<ul class="comment">
											<li><i class="fa fa-calendar" aria-hidden="true"></i>Mar 05, 2019</li>
											<li><i class="fa fa-commenting-o" aria-hidden="true"></i>59</li>
										</ul>
									</div>
								</div>
								<!-- End Single Post -->
								<!-- Single Post -->
								<div class="single-post">
									<div class="image">
										<img src="{{ url_for('static', filename='img/blog-sidebar3.jpg') }}" alt="#">
									</div>
									<div class="content">
										<h5><a href="#">We provide highly business soliutions.</a></h5>
										<ul class="comment">
											<li><i class="fa fa-calendar" aria-hidden="true"></i>June 09, 2019</li>
											<li><i class="fa fa-commenting-o" aria-hidden="true"></i>44</li>
										</ul>
									</div>
								</div>
								<!-- End Single Post -->
							</div>
							<!--/ End Single Widget -->
							<!-- Single Widget -->
							<!--/ End Single Widget -->
							<!-- Single Widget -->
							<div class="single-widget side-tags">
								<h3 class="title">Tags</h3>
								<ul class="tag">
									<li><a href="#">business</a></li>
									<li><a href="#">wordpress</a></li>
									<li><a href="#">html</a></li>
									<li><a href="#">multipurpose</a></li>
									<li><a href="#">education</a></li>
									<li><a href="#">template</a></li>
									<li><a href="#">Ecommerce</a></li>
								</ul>
							</div>
							<!--/ End Single Widget -->
						</div>
					</div>
				</div>
			</div>
		</section>
		<!--/ End Single News -->
		
		<!-- Footer Area -->
		<footer id="footer" class="footer ">
			<!-- Footer Top -->
			{% include "parts/_footer.html" %}
			<!--/ End Copyright -->
		</footer>
		<!--/ End Footer Area -->
		
		{% include "parts/_scripts.html"%}
    </body>


	<style>
        .highlight {
            background-color: yellow;
			color: black;
        }
    </style>

	<script>
		function highlightSearch() {
			// Kullanıcının girdiği arama kelimesini al
			var searchTerm = document.getElementById('searchInput').value;
			
			// Tüm sayfa içinde arama yap
			var pageContent = document.body.innerHTML;
			
			// Arama kelimesine uyan tüm index'leri bul
			var indexes = findAllIndexes(pageContent, searchTerm);
			
			
			// Her bir index'teki kelimenin etrafını sarı renkte vurgula
			indexes.forEach(function(index) {
				var startTag = '<span class="highlight">';
				var endTag = '</span>';
				pageContent = pageContent.slice(0, index) + startTag + pageContent.slice(index, index + searchTerm.length) + endTag + pageContent.slice(index + searchTerm.length);
			});
	
			// Sayfa içeriğini güncelle
			document.body.innerHTML = pageContent;
		}
	
		function findAllIndexes(str, term) {
			var indexes = [];
			var index = str.indexOf(term);
			while (index !== -1) {
				indexes.push(index);
				index = str.indexOf(term, index + 1);
			}
			return indexes;
		}
	</script>
{% endblock %}