{% extends 'base.html' %} 

{% block title %} Home {% endblock %} 

{% block content %}
    
{% if current_user.is_authenticated %}

	<head>
        {% include "parts/_head_content.html" %}
    </head>
    <body>
	
		<!-- Preloader -->
        {% include "parts/_preloader.html"%}
        <!-- End Preloader -->
		
		<!-- Get Pro Button -->
	
		<!-- Header Area -->
		<header class="header" >
			
		</header>
		<!-- End Header Area -->
		
		<!-- Slider Area -->
		{% include "parts/_slider.html"%}
		<!--/ End Slider Area -->
		
		<!-- Start Schedule Area -->
		{% include "parts/_schedule.html"%}
		<!--/End Start schedule Area -->

		<!-- Start Feautes -->
		{% include "parts/_featues.html"%}
		<!--/ End Feautes -->
		
		<!-- Start Fun-facts -->
		{% include "parts/_fun_facts.html"%}
		<!--/ End Fun-facts -->
		
		<!-- Start Why choose -->
		{% include "parts/_why_choose.html"%}
		<!--/ End Why choose -->
		
		<!-- Start Call to action -->
		{% include "parts/_call.html"%}
		<!--/ End Call to action -->
		
		<!-- Start portfolio -->
		{%include "parts/_portfolio.html"%}
		<!--/ End portfolio -->
		
		<!-- Start service -->
		{% include "parts/_service.html"%}
		<!--/ End service -->
		
		<!-- Pricing Table -->
		{% include "parts/_pricing.html"%}
		<!--/ End Pricing Table -->

		<!-- Start clients -->
		{% include "parts/_clients.html"%}
		<!--/End clients -->
		
		<!-- Start Blog Area -->
		{% include "parts/_blog.html"%}
		<!-- End Blog Area -->
		
		<!-- Start Appointment -->
		
		<!-- End Appointment -->
		
		<!-- Start Newsletter Area -->

		<!-- /End Newsletter Area -->
		
		<!-- Footer Area -->
		<footer id="footer" class="footer ">
			{% include "parts/_footer.html"%}
		</footer>
		<!--/ End Footer Area -->
		
		{% include "parts/_scripts.html"%}

    </body>
{% else %}

<div class="py-5 text-center">
	<h2>Welcome to Mediplus Website</h2>
	<p class="lead">This is the main page of our Flask application.</p>
	<img src="{{ url_for('static', filename='img/section-img.png') }}" alt="#">
</div>

<div style="text-align: center;">
    <p class="text-center">Please <a href="{{url_for('login')}}">login</a> to view the website.</p>
</div>
{% endif %}

{% endblock %}